# 
# 03/02/2023 - Switch to Manta M8P SPI interface
[adxl345]
cs_pin: PB15
spi_bus: spi1
#spi_software_sclk_pin: PA5
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20  # an example